@font-face {
    font-family: 'ambleregular';
    src: url('Fronts/Amble-Regular-webfont.eot');
    src: url('Fronts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fronts/Amble-Regular-webfont.woff2') format('woff2'),
         url('Fronts/Amble-Regular-webfont.woff') format('woff'),
         url('Fronts/Amble-Regular-webfont.ttf') format('truetype'),
         url('Fronts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h2
{
    font-family:'ambleregular', Impact, Arial;
}